<div class="col-md-12">
    <div class="well paddingBottom55">
        <h3>{{editContact}}</h3>
        <input class="marginTop10 form-control" type="text" ng-model="editObject.name" placeholder="Enter Name"/>
        <input class="marginTop10 form-control" type="text" ng-model="editObject.phone" placeholder="Enter Number"/>
        <div class="marginTop10 btn-group pull-right ">
            <button type="button" class="btn btn-default btn-sm" ng-click="saveContact(editObject)">Save</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="goToContact()">Cancel</button>
        </div>
    </div>
</div>