<div>
    <!--<ul class="list-group">-->
        <!--<li class="list-group-item" ng-show="showEdit">-->
            <!--<input  type="text" ng-model="edit.name">-->
            <!--<input  type="text" ng-model="edit.phone">-->
            <!--<div class="btn-group pull-right marginN5">-->
                <!--<button type="button" class="btn btn-default">Save</button>-->
                <!--<button type="button" class="btn btn-default">Edit</button>-->
                <!--<button type="button" class="btn btn-default">Delete</button>-->
            <!--</div>-->
        <!--</li>-->
    <!--</ul>-->


    <div class="row">
        {{editObject}}
    </div>
</div>