*{
    margin: 0;
    padding: 0;
}
.navbar{
    border-radius: 0;
}
.fontWhite{
    color: #ffffff !important;
}
.fontWhite:hover{
    color: #ffffff !important;
}
.alertBox{
    position: absolute;
    top: 70px;
    right: 10px;
}
.editContactBox{
/*position: absolute;*/
    top: 20px;
}
.listStyleNone{
    list-style: none;
}
.marginN5{
    margin: -5px;
}
.marginTop10{
    margin-top: 10px;
}
.marginTop15{
    margin-top: 15px;
}
.marginTop20{
    margin-top: 20px;
}
.marginTop25{
    margin-top: 25px;
}
.marginTop30{
    margin-top: 30px;
}
.marginTop35{
    margin-top: 35px;
}
.marginTop40{
    margin-top: 40px;
}
.marginTop45{
    margin-top: 45px;
}
.marginTop50{
    margin-top: 50px;
}
.marginTop60{
    margin-top: 60px;
}
.marginTop100{
    margin-top: 100px;
}
